@use 'base';

body {
    position: relative;
    margin: 0;
    background-color: base.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 400px;
    background: linear-gradient(45deg, #ffa552, #fcde9c);
}

///* @media only screen and (max-width: 480px) {
//    body {
//
//    }
//} */