@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: black;
  background: white;
  min-width: 400px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {  
  .title {
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
    @apply my-8 sm:mb-4
  }

  .flexRowMode {
    display:flex;
    flex-direction: row;
    align-items: center;
    
  
    flexRowMode--around {
      @apply justify-around
    }
    space_between {
      @apply justify-between
    }
  }

  .flexColMode {
    display:flex;
    flex-direction: column;

    

    flexRowMode--around {
      @apply justify-around
    }
    space_between {
      @apply justify-between
    }
  }

  .list {
    display: flex;
    cursor: pointer;
    list-style-type: none;
    padding: 1rem;

    @apply
    hover:bg-gray-100
    hover:text-gray-950
  }

  .list-col{
    @apply
    flex-col
  }

  .card {
      display:flex;
      flex-direction: row;
  }

  .card-col {
    @apply flex-col
  }
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
}