@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: black;
  background: white;
  min-width: 400px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  
  .title {
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
  }
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}